<div class="alert alert"
     *ngIf="model.length === 0">
  <h3>No games yet</h3>
</div>
<div class="card"
     *ngFor="let game of model">
  <div class="card-body">
    <h5 class="card-title">{{ game.title }} </h5>
    <p class="card-text">{{ game.publisher }}</p>
    <p>{{ game.platform }}</p>
    <input type="button"
           class="btn btn-outline-info"
           (click)="markOnLoan(game.title)"
           value="Loaned">
    <input type="button"
           class="btn btn-outline-secondary"
           (click)="removeFromLoan(game.title)"
           value="Returned">
  </div>
</div>
